<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <system.data>
    <DbProviderFactories>
      <remove invariant="MySql.Data.MySqlClient" />
      <add name="MySQL Data Provider" invariant="MySql.Data.MySqlClient" description=".Net Framework Data Provider for MySQL" type="MySql.Data.MySqlClient.MySqlClientFactory, MySql.Data, Version=6.9.12.0, Culture=neutral, PublicKeyToken=c5687fc88969c44d" />
    </DbProviderFactories>
  </system.data>

  <!--系统设置记录会员卡ID和角色ID -ByCQZ-->
  <appSettings>
    <add key="NettyPort" value="6920" />
    <!--byCQZ-->
    <!--当前登陆用户的卡号-->
    <add key="memberId" value="305865088" />
    <!--当前登陆用户的角色ID，1：会员；0：教练-->
    <add key="roleId" value="" />
    <!--当前登陆会员正在进行的训练计划主键ID-->
    <add key="trainingPlanId" value="2" />
    <!--当前登陆会员正在进行的训练课程主键ID-->
    <add key="trainingCourseId" value="2" />
    <!--当前登陆会员正在进行的训练课程主键ID-->
    <add key="trainingCourseId" value="2" />
    <!--当前登陆会员正在进行的训练课程记录ID -->
    <add key="currentCourseCount" value="" />
    <!--当前登陆会员正在进行的训练目标课程天数 -->
    <add key="targetCourseCount" value="" />
    <!--当前登陆会员的数据库表的主键-->
    <add key="memberPrimarykey" value="302" />
    
    <add key="DbName" value="ai_sports" />
    <add key="DbUrl" value="127.0.0.1" />
    <!--<add key="DbUrl" value="49.4.70.183" />-->
    <add key="DbUserName" value="root" />
    <add key="DbPassword" value="root" />
  </appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.4.1" newVersion="4.0.4.1" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Google.Protobuf" publicKeyToken="a7d26565bac4d604" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.6.1.0" newVersion="3.6.1.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>