<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.nlog-project.org/schemas/NLog.xsd NLog.xsd"
      autoReload="true"
      throwExceptions="false"
      internalLogLevel="Off" internalLogFile="c:\temp\nlog-internal.log">

  <!-- optional, add some variables
  https://github.com/nlog/NLog/wiki/Configuration-file#variables
  -->
  <variable name="myvar" value="myvalue"/>

  <!--
  See https://github.com/nlog/nlog/wiki/Configuration-file
  for information on customizing logging rules and outputs.
   -->
  <targets>
    <!--
    add your targets here
    See https://github.com/nlog/NLog/wiki/Targets for possible targets.
    See https://github.com/nlog/NLog/wiki/Layout-Renderers for the possible layout renderers.
    -->
    <target name="info" xsi:type="File" fileName="${basedir}/logs/info/log_${shortdate}.log" archiveAboveSize="500000"  encoding="utf-8" layout="${longdate} ${callsite} [${level}]： ${message}"/>
    <target name="debug" xsi:type="File" fileName="${basedir}/logs/debug/log_${shortdate}.log" archiveAboveSize="500000"  encoding="utf-8" layout="${longdate} ${callsite} [${level}]： ${message}"/>
    <target name="error" xsi:type="File" fileName="${basedir}/logs/error/log_${shortdate}.log" archiveAboveSize="500000"  encoding="utf-8" layout="${longdate} ${callsite} [${level}]： ${message}"/>
    <target name="trace" xsi:type="File" fileName="${basedir}/logs/trace/log_${shortdate}.log" archiveAboveSize="500000"  encoding="utf-8" layout="${longdate} ${callsite} [${level}]： ${message}"/>
    <target name="warn" xsi:type="File" fileName="${basedir}/logs/warn/log_${shortdate}.log" archiveAboveSize="500000"  encoding="utf-8" layout="${longdate} ${callsite} [${level}]： ${message}"/>



    <target name="coloredConsole" xsi:type="ColoredConsole" encoding="utf-8" layout="${longdate} [${level}]:${message}"/>
    <!--<target name="debugger" xsi:type="Debugger" encoding="utf-8" layout="${longdate} [${level}]:${message}"/>-->

    <!--
    Write events to a file with the date in the filename.
    <target xsi:type="File" name="f" fileName="${basedir}/logs/${shortdate}.log"
            layout="${longdate} ${uppercase:${level}} ${message}" />
    -->
    <!--添加一个新条目让日志输出到控制台中，并添加必要的输出布局（layout）-->
    <target name="console" xsi:type="Console"  encoding="utf-8" layout="${longdate} ${callsite} [${level}]： ${message}"/>
    <!--说明 xsi:type="Console"指定输出到控制台；layout指定输出文件内容的样式 ${longdate}是日期（具体到毫秒），${level}是日志的等级；${message}是具体要输出的内容。-->
  </targets>

  <rules>
    <!-- add your logging rules here -->
    <logger name="*"  level="Debug" writeTo="debug" />
    <logger name="*"  level="Info" writeTo="info"/>
    <logger name="*" level="Warn" writeTo="warn"/>
    <logger name="*" level="Trace" writeTo="trace"/>
    <logger name="*" level="Error" writeTo="error"/>
    <!--添加必要的规则-->
    <logger name="*"   writeTo="console"/>
    <!--我个人设置的规则是，将所有记录的信息输出至控制台-->

    <!--
    Write all events with minimal level of Debug (So Debug, Info, Warn, Error and Fatal, but not Trace)  to "f"
    <logger name="*" minlevel="Debug" writeTo="f" />
    -->
  </rules>
</nlog>
